.timeline {
  overflow-x: visible;
}
.timeline ul {
  padding: 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 8px;
  border-radius: 20px 20px 0;
  margin: 0 auto;
  padding: 15vh 0;
  box-shadow: 0px 0px 10px 0px rgba(125, 60, 152, 0.5176470588);
  background: rgba(125, 60, 152, 0.6196078431);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.timeline ul li.in-view {
  opacity: 1;
  transform: translateY(0);
}
.timeline ul li.in-view::after {
  background: #7D3C98;
  box-shadow: 0 0 20px 0 #4B0082;
}
.timeline ul li.in-view div {
  background: linear-gradient(to bottom, #7D3C98, #4B0082);
  color: #E6E6FA;
  visibility: visible;
  opacity: 1;
  transform: none;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 350px;
  padding: 55px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.timeline ul li div::before, .timeline ul li div::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
  text-align: left;
}
.timeline ul li:nth-child(odd) div::after {
  position: absolute;
  z-index: -1;
  left: -7px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #7D3C98 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -389px;
  text-align: right;
}
.timeline ul li:nth-child(even) div::after {
  z-index: -1;
  right: -7px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #7D3C98;
}
.timeline ul li time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.wheel-title {
  box-shadow: 0 0 100px 0 #7D3C98;
}

.wheel-container {
  display: flex;
  justify-content: flex-end;
  height: 200px;
  position: relative;
  background-color: transparent;
}
.wheel-container .wheel {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.wheel-container .wheel .wheel-item {
  position: absolute;
  width: 200px;
  height: 100px;
  text-align: center;
  color: #fff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wheel-container .wheel .wheel-item:hover:nth-child(odd) {
  font-size: larger;
}
.wheel-container .wheel .wheel-item:nth-child(1) {
  text-wrap: nowrap;
  transform: translateY(-60px);
}
.wheel-container .wheel .wheel-item:nth-child(2) {
  transform: rotate(0deg) translateY(0);
}
.wheel-container .wheel .wheel-item:nth-child(3) {
  text-wrap: nowrap;
  transform: translateY(60px);
}
.wheel-container .wheel .wheel-item.transitionPrev {
  transform: translateY(-30px);
}
.wheel-container .wheel .wheel-item.transitionNext {
  transform: translateY(30px);
}
.wheel-container .wheel .wheel-item.active {
  opacity: 1;
  font-size: 2rem;
  font-weight: bold;
  text-wrap: nowrap;
  margin-left: 10rem;
}
@media screen and (max-width: 900px) {
  .wheel-container .wheel .wheel-item.active {
    font-size: 1.9rem;
    margin-left: 7rem;
  }
}
.wheel-container .wheel .wheel-item.transitioning {
  opacity: 0;
}

.aboutAuthor {
  padding: 60px 0 20px;
}
.aboutAuthor .aboutCont {
  justify-content: center;
  position: relative;
  display: flex;
  max-width: 95%;
  margin: auto;
  margin-bottom: 50px;
  padding: 80px 30px 60px 30px;
  background: linear-gradient(to top, #7D3C98, #4B0082 5%);
  box-shadow: 0px 50px 500px 0px #7D3C98;
  color: #fff;
  border-radius: 20px;
}
.aboutAuthor .aboutCont img {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  top: -36px;
  pointer-events: none;
}
.aboutAuthor .aboutCont img.drK {
  border-color: #363636;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.aboutAuthor .aboutCont p {
  color: #F0F8FF;
  margin: 0;
  text-align: center;
}
.aboutAuthor .aboutCont .athrBtn {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.aboutAuthor .aboutCont .athrBtn .button {
  border-radius: 50px;
  margin: 0 0 30px;
}
.aboutAuthor .aboutCont .athrBtn .button svg {
  stroke: #fff;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 300px;
  }
  .timeline ul li:nth-child(even) div {
    left: -339px;
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 10px;
  }
  .timeline ul li div {
    width: calc(100vw - 110px);
  }
  .timeline ul li:nth-child(even) div {
    left: 46px;
  }
}

/*# sourceMappingURL=About.css.map */
