@tailwind base;
@tailwind components;
@tailwind utilities;



/* Primary Purple: #4B0082 (a rich indigo)

Secondary Purple: #7D3C98 (a vibrant amethyst)

Tertiary Purple: #C39BD3 (a soft lavender) */

/* Primary Text Color: Light Lavender (#E6E6FA)

Secondary Text Color: Soft White (#F5F5F5)

Accent Text Color: Pale Gold (#FFD700) */


:root {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
	background: #4B0082;
}

/* ===== Scrollbar CSS ===== */
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
	transition: all 0.3s ease;
  }

  *::-webkit-scrollbar-track {
    background: linear-gradient(to top, #7D3C98, #4B0082);
  }

  .window::-webkit-scrollbar-track {
    background: linear-gradient(to top, #7D3C98, #4B0082);
  }

  *::-webkit-scrollbar-thumb {
    background: #bb59e6;
    border-radius: 5px;
	transition: all 1s ease;
  }

  *::-webkit-scrollbar-thumb:hover {
	background: #9c49bf;

  }

  

/* ========================================================================== */
/*   FRACTIONS */
.fraction {
	position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.fraction > span {
  display: block;
}

.fraction span:first-child::after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
}

  


  .custom-shape-divider-bottom-1711856172 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
	z-index: 999;

}

.custom-shape-divider-bottom-1711856172 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 38px;
}

.custom-shape-divider-bottom-1711856172 .cloud1 {
    /* fill: #0a0a0a; */
	animation: moveShapes1 20s linear infinite alternate;
}

.custom-shape-divider-bottom-1711856172 .cloud2 {
    /* fill: #0a0a0a; */
	animation: moveShapes2 30s linear infinite alternate;
}

@keyframes moveShapes1 {
	0% {
	  transform: translateY(10px);
	}
	50% {
	  transform: translateY(-50px);
	}
	100% {
	  transform: translateY(8px);
	}
  }
  
  @keyframes moveShapes2 {
	0% {transform: translate(-5%, 0);}
	25% {transform: translate(-15%, -3%);}
	50% {transform: translate(-30%, -6%);}
	75% {transform: translate(-45%, -3%);}
	100% {transform: translate(-55%, 0);}}  

/* ========================================================================== */
/* TAILWIND TWEAKS */

.h-screen-plus{
  height: 105vh;
}

.bg-theme {
  background-color: #0a0a0a;
}

/* */

.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: #000;
  overflow: hidden;
}

.loader {
  align-self: center;
  position: absolute;
  width: 80px;
  height: 80px;
  animation: spin 1s steps(1) infinite;
  box-sizing: border-box;
  border-radius: 0;
  transition: all 1s ease;
}

.page{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Loader CSS */
.loadContainer{
	--loaderSize: 100px; /* size of the container */
}

.loadCircle{
	--loaderSpeed: 1.4s;
}

.loadCircleInner{
	--border-thickness: 5px; /* the bigger the loader is, the thicker this needs to be */
  --loader-base-color: 187,0,255; /* rbg color */
}

.loadContainer{
	position: relative;
	width: var(--loaderSize);
	height: var(--loaderSize);
}

.loadInner{
	width: 82.5%;
	height: 85%;
	border-radius: 100%;
	position: absolute;
	top: 7.5%;
	left: 7.25%;
}

.loadCircle{
	width: 100%;
	height: 100%;
	position: absolute;
}

.loadCircle > .loadCircleInner{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: var(--border-thickness) solid rgba(var(--loader-base-color),0.7);
	border-right: none;
	border-top: none;
	background-clip: padding;
	box-shadow: inset 0px 0px 10px rgba(var(--loader-base-color),0.15);
}
.loadCircle:nth-of-type(0){
	transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
}
.loadCircle:nth-of-type(0) .loadCircleInner{
	animation: loaderSpin var(--loaderSpeed) infinite linear;
		-o-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-ms-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-webkit-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-moz-animation: loaderSpin var(--loaderSpeed) infinite linear;
}
.loadCircle:nth-of-type(1){
	transform: rotate(70deg);
		-o-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		-webkit-transform: rotate(70deg);
		-moz-transform: rotate(70deg);
}
.loadCircle:nth-of-type(1) .loadCircleInner{
	animation: loaderSpin var(--loaderSpeed) infinite linear;
		-o-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-ms-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-webkit-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-moz-animation: loaderSpin var(--loaderSpeed) infinite linear;
}
.loadCircle:nth-of-type(2){
	transform: rotate(140deg);
		-o-transform: rotate(140deg);
		-ms-transform: rotate(140deg);
		-webkit-transform: rotate(140deg);
		-moz-transform: rotate(140deg);
}
.loadCircle:nth-of-type(2) .loadCircleInner{
	animation: loaderSpin var(--loaderSpeed) infinite linear;
		-o-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-ms-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-webkit-animation: loaderSpin var(--loaderSpeed) infinite linear;
		-moz-animation: loaderSpin var(--loaderSpeed) infinite linear;
}
.loadInner{
	animation: loaderSpin (var(--loaderSpeed)*2.5) infinite linear;
		-o-animation: loaderSpin (var(--loaderSpeed)*2.5) infinite linear;
		-ms-animation: loaderSpin (var(--loaderSpeed)*2.5) infinite linear;
		-webkit-animation: loaderSpin (var(--loaderSpeed)*2.5) infinite linear;
		-moz-animation: loaderSpin (var(--loaderSpeed)*2.5) infinite linear;
}
@keyframes loaderSpin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-o-keyframes loaderSpin{
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-o-transform: rotate(360deg);
	}
}
@-ms-keyframes loaderSpin{
	from{
		-ms-transform: rotate(0deg);
	}
	to{
		-ms-transform: rotate(360deg);
	}
}
@-webkit-keyframes loaderSpin{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes loaderSpin{
	from{
		-moz-transform: rotate(0deg);
	}
	to{
		-moz-transform: rotate(360deg);
	}
}
