@import url("https://fonts.googleapis.com/css2?family=VT323");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4B0082;
  border-radius: 10px;
}

/* ========================================================================== */
/*   FRACTIONS */
.fraction {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.fraction > span {
  display: block;
}

.fraction span:first-child::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* ========================================================================== */
/* TAILWIND TWEAKS */

.h-screen-plus {
  height: 105vh;
}

.bg-theme {
  background-color: #0a0a0a;
}

/* Loader CSS */
.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: #000;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadContainer {
  --loaderSize: 100px; /* size of the container */
}

.loadCircle {
  --loaderSpeed: 1.4s;
}

.loadCircleInner {
  --border-thickness: 5px; /* the bigger the loader is, the thicker this needs to be */
  --loader-base-color: 187, 0, 255; /* rbg color */
}

.loadContainer {
  position: relative;
  width: var(--loaderSize);
  height: var(--loaderSize);
}

.loadInner {
  width: 82.5%;
  height: 85%;
  border-radius: 100%;
  position: absolute;
  top: 7.5%;
  left: 7.25%;
}

.loadCircle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loadCircle > .loadCircleInner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: var(--border-thickness) solid rgba(var(--loader-base-color), 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(var(--loader-base-color), 0.15);
}

.loadCircle:nth-of-type(0) {
  transform: rotate(0deg);
}

.loadCircle:nth-of-type(0) .loadCircleInner {
  animation: loaderSpin var(--loaderSpeed) infinite linear;
}

.loadCircle:nth-of-type(1) {
  transform: rotate(70deg);
}

.loadCircle:nth-of-type(1) .loadCircleInner {
  animation: loaderSpin var(--loaderSpeed) infinite linear;
}

.loadCircle:nth-of-type(2) {
  transform: rotate(140deg);
}

.loadCircle:nth-of-type(2) .loadCircleInner {
  animation: loaderSpin var(--loaderSpeed) infinite linear;
}

.loadInner {
  animation: loaderSpin calc(var(--loaderSpeed) * 2.5) infinite linear;
}

@keyframes loaderSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* UTILITY */
.showed {
  opacity: 1;
}

.blurred {
  transition: opacity 0.3s ease;
  filter: blur(3px) brightness(0.3);
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}