$inner_color: #4B0082;

.action-button {
  animation: Pop 5s ease infinite;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 3px #000;
  &:hover {
    animation-play-state: paused;
  }
  
  &::after {
    content: '';
    background: url('/logo.png') no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 400ms ease-out;
  }

  &.actionsBoxOpen::after {
    filter: none;
    transform: scale(1.4);
  }
  &.actionsBoxOpen:hover::after {
    filter: brightness(1.2);
  }
}

@keyframes Pop {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.action-button-content {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: 15;
  bottom: 2em;
  right: 2em; /* Default position */
  transition: box-shadow 50ms ease-out, border-radius 50ms ease-out 25ms, width 90ms ease-in, height 60ms ease;

  .action-button-content-inner {
    opacity: 0;
    transition: opacity 30ms ease-out 0;
    padding: 40px;

    .btn {
   
      text-align: center;
      border: 1px solid $inner_color;
      border-radius: 3px;
      transition: color 50ms linear, background 50ms linear;
      text-decoration: none;

      &:hover {
        color: white;
        background: $inner_color;
      }
    }

    &::after {
      content: "\231F";
      position: absolute;
      font-size: 25px;
      top: 5px;
      right: 15px;
      color: #666;
      pointer-events: auto;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}

.actionsBoxOpen .action-button-content {
  pointer-events: none;
  width: 25rem;
  height: auto;
  cursor: default;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  bottom: 2em;
  right: 2em; /* Default position */
  transition: all 0.8s ease;
  @media (max-width: 500px){
    width: 90vw;
  }

  .action-button-content-inner {
    opacity: 1;
    transition: opacity 100ms ease-out 200ms;

    .btn {
      pointer-events: auto;
    }
  }
}

@media (max-width: 500px) {
  .action-button {
    animation: none;
    right: 3em;
    transform: translateX(50%);
  }

  .action-button-content {

    transform: scale(0.7);
  }
}
