  .solution-card {
    background: linear-gradient(to bottom, #4B0082, #7D3C98);
  }
  
  .solution-highlights {
    background-color: #4B0082; /* Example theme color */
    background: linear-gradient(to bottom, #4B0082, black );
  }
  
  .btn-cool {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    background-color: #6A0DAD; /* Purple color */
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(106, 13, 173, 0.5);
  }
  
  .btn-cool::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent 60%);
    opacity: 0;
    transition: all 0.4s ease;
  }
  
  .btn-cool:hover {
    background-color: #7B1FA2; /* Darker purple on hover */
    box-shadow: 0 0 25px rgba(106, 13, 173, 0.8);
  }
  
  .btn-cool:hover::before {
    opacity: 1;
    top: 0;
    left: 0;
  }
  